In [1]:
import pandas as pd

In [2]:
DIR = "../AnalysisData/"
DIR_o = "../OriginalData/"

tb = pd.read_csv(f"{DIR_o}tb.csv")

In [3]:
tb

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
0,AD,1989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AD,1990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,AD,1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,AD,1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

In [4]:
tb = tb.dropna(thresh=3) #usuwam wiersze, gdzie jest mniej niż 3 wartości różne od Nan (iso i year zawsze będą różne, chcę aby jedna)
tb

,iso2,year,new_sp,new_sp_m04,new_sp_m514,new_sp_m014,new_sp_m1524,new_sp_m2534,new_sp_m3544,new_sp_m4554,...,new_sp_f04,new_sp_f514,new_sp_f014,new_sp_f1524,new_sp_f2534,new_sp_f3544,new_sp_f4554,new_sp_f5564,new_sp_f65,new_sp_fu
4,AD,1993,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,AD,1994,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,AD,1996,8.0,NaN,NaN,0.0,0.0,0.0,4.0,1.0,...,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,0.0,NaN
7,AD,1997,17.0,NaN,NaN,0.0,0.0,1.0,2.0,2.0,...,NaN,NaN,0.0,1.0,2.0,3.0,0.0,0.0,1.0,NaN
8,AD,1998,1.0,NaN,NaN,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581.0,NaN,NaN,187.0,833.0,2908.0,2298.0,1056.0,...,NaN,NaN,225.0,1140.0,2858.0,1565.0,622.0,214.0,111.0,NaN
5765,ZW,2005,13155.0,NaN,NaN,210.0,837.0,2264.0,1855.0,762.0,...,NaN,NaN,269.0,1136.0,2242.0,1255.0,578.0,193.0,603.0,NaN
5766,ZW,2006,12718.0,NaN,NaN,215.0,736.0,2391.0,1939.0,896.0,...,NaN,NaN,237.0,1020.0,2424.0,1355.0,632.0,230.0,96.0,NaN
5767,ZW,2007,10583.0,6.0,132.0,138.0,500.0,3693.0,0.0,716.0,...,7.0,178.0,185.0,739.0,3311.0,0.0,553.0,213.0,90.0,NaN
5768,ZW,2008,9830.0,NaN,NaN,127.0,614.0,0.0,3316.0,704.0,...,NaN,NaN,145.0,840.0,0.0,2890.0,467.0,174.0,105.0,0.0

liczba wierszy zmniejszona o prawie połowę

In [5]:
# zmiana nazw kolumn tak, aby było jasne o kogo chodzi w danej kolumnie
tb = tb.rename(columns={'new_sp_m04': 'male, 0-4 years', 'new_sp_m514': 'male, 5-14 years', 'new_sp_m014': 'male, 0-14 years',
                       'new_sp_m1524': 'male, 15-24 years', 'new_sp_m2534': 'male, 25-34 years',
                        'new_sp_m3544': 'male, 35-44 years', 'new_sp_m4554': 'male, 45-54 years', 
                        'new_sp_m5564': 'male, 55-64 years', 'new_sp_m65': 'male, 65+ years', 'new_sp_mu': 'male, u',
                        'new_sp_f04': 'female, 0-4 years', 'new_sp_f514': 'female, 5-14 years', 'new_sp_f014': 'female, 0-14 years',
                        'new_sp_f1524': 'female, 15-24 years', 'new_sp_f2534': 'female, 25-34 years', 
                        'new_sp_f3544': 'female, 35-44 years', 'new_sp_f4554': 'female, 45-54 years',
                        'new_sp_f5564': 'female, 55-64 years', 'new_sp_f65': 'female, 65+ years', 'new_sp_fu': 'female, u'
                       })

In [6]:
# Zamiana typu na int, żeby nie było nic po przecinku
for col, row in tb.iteritems():
    if col != 'iso2' and col != 'year':
        tb[col] = tb[col].astype('Int64')
tb

,iso2,year,new_sp,"male, 0-4 years","male, 5-14 years","male, 0-14 years","male, 15-24 years","male, 25-34 years","male, 35-44 years","male, 45-54 years",...,"female, 0-4 years","female, 5-14 years","female, 0-14 years","female, 15-24 years","female, 25-34 years","female, 35-44 years","female, 45-54 years","female, 55-64 years","female, 65+ years","female, u"
4,AD,1993,15,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
5,AD,1994,24,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
6,AD,1996,8,<NA>,<NA>,0,0,0,4,1,...,<NA>,<NA>,0,1,1,0,0,1,0,<NA>
7,AD,1997,17,<NA>,<NA>,0,0,1,2,2,...,<NA>,<NA>,0,1,2,3,0,0,1,<NA>
8,AD,1998,1,<NA>,<NA>,0,0,0,1,0,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5764,ZW,2004,14581,<NA>,<NA>,187,833,2908,2298,1056,...,<NA>,<NA>,225,1140,2858,1565,622,214,111,<NA>
5765,ZW,2005,13155,<NA>,<NA>,210,837,2264,1855,762,...,<NA>,<NA>,269,1136,2242,1255,578,193,603,<NA>
5766,ZW,2006,12718,<NA>,<NA>,215,736,2391,1939,896,...,<NA>,<NA>,237,1020,2424,1355,632,230,96,<NA>
5767,ZW,2007,10583,6,132,138,500,3693,0,716,...,7,178,185,739,3311,0,553,213,90,<NA>
5768,ZW,2008,9830,<NA>,<NA>,127,614,0,3316,704,...,<NA>,<NA>,145,840,0,2890,467,174,105,0

In [7]:
tb.to_csv(path_or_buf=f"{DIR}tb.csv", index=False)